.register-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
}

.register-container input {
    width: 250px;
    padding: 10px;
    margin: 6px;
    font-size: 14px;
}

.register-container button {
    margin-top: 15px;
    padding: 10px 20px;
    font-size: 16px;
}